<template>
    <l-map :zoom.sync="zoom" :center="center">
        <l-tile-layer :url="map.url" :attribution="map.attribution"></l-tile-layer>
        <l-geo-json :geojson="geodata.areas" :visible="zoom < changeZoom" :options="geodata.options"></l-geo-json>
        <l-geo-json :geojson="geodata.regions" :visible="zoom >= changeZoom" :options="geodata.options"></l-geo-json>
    </l-map>
</template>

<script>
    import css from 'leaflet/dist/leaflet.css'
    import Vue from 'vue';
    import { LMap, LTileLayer, LGeoJson } from 'vue2-leaflet'
    import Popup from './Popup'

    export default {
        components: {
            LMap, LTileLayer, LGeoJson
        },
        data() {
            return {
                zoom: 7,
                changeZoom: 9,
                center: [48.9897697, 31.4790873],
                map: {
                    url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                },
                geodata: {
                    areas: [],
                    regions: [],
                    options: {
                        onEachFeature: (feature, layer) => {
                            let popupComponent = Vue.extend(Popup)
                            let popup = new popupComponent({
                                propsData: {
                                    name: feature.properties.name,
                                    legal: feature.properties.legal
                                }
                            })
                            layer.bindPopup(popup.$mount().$el)
                        }
                    }
                }
            }
        },
        mounted() {
            fetch('static/datasource/f_area.json')
                .then(res => res.json())
                .then(json => this.$set(this.geodata, 'areas', json))

            fetch('static/datasource/f_region.json')
                .then(res => res.json())
                .then(json => this.$set(this.geodata, 'regions', json))
        }
    }
</script>
