<template>
    <div>
        <h4>{{ name }}</h4>
        <ul>
            <li v-for="item in legal">
                {{ item }}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Popup',
        props: ['name', 'legal']
    }
</script>