<template>
  <div id="app">
    <v-map class="map"/>
  </div>
</template>

<script>
import vMap from './components/Map'

export default {
  components: {
    vMap
  }
}
</script>

<style>
    body, div {
        margin: 0;
        padding: 0;
    }
</style>

<style scoped>
  .map {
    height: 100vh;
  }
</style>